<launch>
  
  <node name="usb_cam_front" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="true"/>
    <param name="autoexposure" value="true"/>
    <param name="exposure" value="100"/>
    <param name="auto_white_balance" value="false"/>
    <param name="white_balance" value="12000"/>
  </node>
</launch>
